{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "cursorOffset": -1,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false
}
